<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aFrequency</key>
	<real>0.25</real>
	<key>acRate</key>
	<real>1</real>
	<key>agRate</key>
	<real>1</real>
	<key>atRate</key>
	<real>1</real>
	<key>automaticallyTerminateRun</key>
	<true/>
	<key>baseFrequencyMethod</key>
	<integer>2</integer>
	<key>brlenweight</key>
	<real>0.20000000000000001</real>
	<key>cFrequency</key>
	<real>0.25</real>
	<key>cgRate</key>
	<real>1</real>
	<key>ctRate</key>
	<real>1</real>
	<key>distanceswapbias</key>
	<real>1</real>
	<key>doBootstrap</key>
	<false/>
	<key>fixGammaShapeParameter</key>
	<false/>
	<key>fixRateParameters</key>
	<false/>
	<key>gFrequency</key>
	<real>0.25</real>
	<key>gammaShapeParameter</key>
	<real>0.5</real>
	<key>gammashapebrlen</key>
	<integer>1000</integer>
	<key>gammashapemodel</key>
	<integer>1000</integer>
	<key>genthreshfortopoterm</key>
	<integer>10000</integer>
	<key>holdover</key>
	<integer>1</integer>
	<key>holdoverpenalty</key>
	<integer>0</integer>
	<key>inferinternalstateprobs</key>
	<false/>
	<key>intervallength</key>
	<integer>100</integer>
	<key>intervalstostore</key>
	<integer>5</integer>
	<key>invariableSitesMethod</key>
	<integer>1</integer>
	<key>kappa</key>
	<real>2.5</real>
	<key>limitRunByGenerations</key>
	<false/>
	<key>limitRunByTime</key>
	<false/>
	<key>limsprrange</key>
	<integer>6</integer>
	<key>limsprweight</key>
	<real>0.59999999999999998</real>
	<key>logevery</key>
	<integer>50</integer>
	<key>meanbrlenmuts</key>
	<integer>5</integer>
	<key>megsclamemory</key>
	<integer>500</integer>
	<key>minoptprec</key>
	<real>0.01</real>
	<key>modweight</key>
	<real>0.050000000000000003</real>
	<key>nindivs</key>
	<integer>4</integer>
	<key>numberOfBootstrapReps</key>
	<integer>100</integer>
	<key>numberofprecreductions</key>
	<integer>20</integer>
	<key>numratecats</key>
	<integer>4</integer>
	<key>outputeachbettertopology</key>
	<true/>
	<key>outputmostlyuselessfiles</key>
	<false/>
	<key>outputphyliptree</key>
	<false/>
	<key>proportionOfInvariableSites</key>
	<real>0.0</real>
	<key>randnniweight</key>
	<real>0.10000000000000001</real>
	<key>randomSeed</key>
	<integer>1</integer>
	<key>randsprweight</key>
	<real>0.29999999999999999</real>
	<key>rateModel</key>
	<integer>2</integer>
	<key>refinestart</key>
	<true/>
	<key>saveevery</key>
	<integer>100</integer>
	<key>scorethreshforterm</key>
	<real>0.050000000000000003</real>
	<key>selectionintensity</key>
	<real>0.5</real>
	<key>significanttopochange</key>
	<real>0.01</real>
	<key>specifyRandomSeed</key>
	<false/>
	<key>startoptprec</key>
	<real>0.5</real>
	<key>topoweight</key>
	<real>1</real>
	<key>uniqueswapbias</key>
	<real>0.10000000000000001</real>
	<key>useConstraintFile</key>
	<false/>
	<key>useGammaRateVariation</key>
	<true/>
	<key>useRandomStartTree</key>
	<true/>
	<key>userStopgen</key>
	<integer>5000000</integer>
	<key>userStoptime</key>
	<integer>576000</integer>
</dict>
</plist>
